@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-natural-bg: #FDFCF8;
  --color-natural-text: #2D3436;
}

body {
  background-color: #FDFCF8;
  color: #2D3436;
}
